@font-face
   font-family OpenSansLight
   font-style normal
   src url(../fonts/OpenSans-Light.ttf)

 @font-face
    font-family OpenSansRegular
    font-style normal
    src url(../fonts/OpenSans-Regular.ttf)

 @font-face
    font-family OpenSansSemibold
    font-style normal
    src url(../fonts/OpenSans-Semibold.ttf)

 @font-face
    font-family OpenSansBold
    font-style normal
    src url(../fonts/OpenSans-Bold.ttf)

 @font-face
    font-family OpenSansExtraBold
    font-style normal
    src url(../fonts/OpenSans-ExtraBold.ttf)


body
  margin 0px
  .layout_reasons
    background-color #82ca9c

div
  font 20px/1.4 "Lucida Grande", Arial, sans-serif
  padding 0px




.layout_header
  display none
  background-color #CFE7E7


.layout_main
  display none


.layout_more_power
  // display none // TODO: remove
  height 875px
  background-image url(/img/car.jpg)
  background-position center

  .gradient
    position absolute
    height 100%
    width 700px
    background linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0))

  .content
    display block
    margin 0px
    margin-right auto
    margin-left auto
    max-width 1300px
    padding-left 50px
    padding-right 50px

    .info
      overflow visible
      position relative
      top 455px
      color #FFFFFF
      max-width 500px

      .title
        font 60px OpenSansLight
        line-height 1.2

      .text
        font 13px OpenSansRegular
        margin-top 30px
        margin-right 50px
        line-height 1.7

      .options
        display inline-block
        margin-top 25px
        font 14px OpenSansBold

        &:hover
          cursor pointer



.layout_reasons
  // display none // TODO: remove
  position relative
  background-color #82ca9c
  color #FFFFFF
  padding-top 120px
  padding-bottom 160px

  .brand_label
    position absolute
    transform rotate(270deg)
    font 12px OpenSansSemibold
    top 165px
    left 33px
    overflow hidden

    @media screen and (max-width: 1500px)
      display none

  .content
    display block
    margin-right auto
    margin-left auto
    max-width 1300px
    padding-left 50px
    padding-right 50px

    .title
      display block
      font 35px OpenSansLight

    .list
      display flex
      flex-flow row wrap
      justify-content space-between
      align-items flex-start
      margin-top 50px

      .item
        flex-basis auto // default
        flex-grow 1
        flex-basis 360px
        max-width 360px
        margin-bottom 30px

        .header
          font 13px OpenSansSemibold


        .text
          margin-top 25px
          font 14px OpenSans



.card-plan
  display inline-block
  max-width 500px
  padding-top 50px
  padding-bottom 55px
  padding-left 50px
  padding-right 50px

  &:hover
    background white
    box-shadow 0 0 62px rgba(0, 0, 0, 0.05)

  .card-plan__label
    display inline-block
    border-radius 5px
    color white
    font 11px OpenSansExtraBold
    padding-top 4px
    padding-bottom 4px
    padding-left 16px
    padding-right 16px

    &_legacy
      background-color #E1E1E1

    &_most-popular
      background-color #BB8CBD

  .card-plan__name
    font 30px OpenSansLight
    color #2e3b4e
    margin-top 10px

  .card-plan__description
    font 14px OpenSansRegular
    color #8297a7
    margin-top 25px
    padding-right 50px

    @media screen and (max-width: 1299px)
      padding-right 0px

  .card-plan__buy-now
    display inline-block
    border-radius 3px
    background-color #82ca9c
    font 13px OpenSansBold
    color white
    margin-top 30px
    padding-top 16px
    padding-bottom 16px
    padding-left 26px
    padding-right 26px
    text-transform uppercase

    &:hover
      cursor pointer

  .card-plan__icons
    display flex
    flex-flow row nowrap
    margin-top 18px

    .card-plan__icon
      width 25px
      height 25px

      &_apple
        margin-right 12px
        background url(/img/icon_apple.png) no-repeat center

      &_windows
        background url(/img/icon_windows.png)  no-repeat center




.layout-plan
  // display none // TODO: remove
  position relative
  background-color #f6f7fa
  padding-top 100px
  padding-bottom 140px

  .brand-label
    position absolute
    transform rotate(270deg)
    font 12px OpenSansSemibold
    color #b8b8b8
    top 145px
    left 33px
    overflow hidden

    @media screen and (max-width: 1500px)
      display none

  .content
    display flex
    flex-flow row wrap
    justify-content center
    align-content flex-start
    margin-right auto
    margin-left auto
    max-width 1300px
    padding-left 50px
    padding-right 50px




.subscription-input-form
  position relative
  width 300px

  .subscription-input-form__email
    display inline-block
    width 260px
    height 40px
    background-color white
    outline none
    border none
    color rgba(0, 0, 0, 0.8)
    padding-left 4px
    padding-right 4px
    padding 10px
    font 14px OpenSansRegular

  .subscription-input-form__button-done
    display block
    position absolute
    right 0px
    top 0px
    background url(/img/icon_button_done.png) no-repeat center, #82ca9c
    width 40px
    height 40px
    cursor pointer


.layout-footer
  padding-top 128px
  padding-bottom 150px
  background-color #192431

  @media screen and (max-width: 699px)
    padding-top 50px
    padding-bottom 50px

  .row-1
    display flex
    flex-flow row wrap
    justify-content flex-start
    align-items flex-start
    padding-left 50px
    padding-right 50px
    max-width 1300px
    margin-right auto
    margin-left auto

    .get-in-touch
      flex-grow 1
      flex-basis 0
      padding-right 50px
      min-width 250px
      max-width 550px

      .get-in-touch__title
        font 13px OpenSansSemibold
        color #f6f7fa

      .get-in-touch__description
        font 13px OpenSansRegular
        color #f6f7fa
        margin-top 30px

    .subscribtion
      flex-grow 1
      flex-basis 0

      @media screen and (max-width: 699px)
        margin-top 40px

      .subscribtion__title
        font 13px OpenSansSemibold
        color #f6f7fa

      .subscription-input-form
        margin-top 30px

      .subscribtion__no-spam
        display inline-block
        color #57697f
        width 270px
        font 12px OpenSansRegular
        margin-top 6px



  .links
    display flex
    flex-flow row wrap
    justify-content flex-start
    align-items flex-start
    padding-left 50px
    padding-right 50px
    max-width 1300px
    margin-right auto
    margin-left auto
    margin-top 40px

    .links-column
      display flex
      flex-flow column nowrap
      align-items flex-start
      padding-right 80px

      @media screen and (max-width: 650px)
        padding-right 20px
        margin-right 0px

      .links-column__title
        display inline-block
        font 13px OpenSansSemibold
        color #f6f7fa
        margin-bottom 25px
        cursor pointer

      .links-column__item
        display inline-block
        font 13px OpenSansRegular
        color #f6f7fa
        padding-bottom 2px
        cursor pointer

        &:last-of-type
          padding-bottom 2px







