@font-face {
  font-family: OpenSansLight;
  font-style: normal;
  src: url("../fonts/OpenSans-Light.ttf");
}
@font-face {
  font-family: OpenSansRegular;
  font-style: normal;
  src: url("../fonts/OpenSans-Regular.ttf");
}
@font-face {
  font-family: OpenSansSemibold;
  font-style: normal;
  src: url("../fonts/OpenSans-Semibold.ttf");
}
@font-face {
  font-family: OpenSansBold;
  font-style: normal;
  src: url("../fonts/OpenSans-Bold.ttf");
}
@font-face {
  font-family: OpenSansExtraBold;
  font-style: normal;
  src: url("../fonts/OpenSans-ExtraBold.ttf");
}
@font-face {
  font-family: OpenSansItalic;
  font-style: normal;
  src: url("../fonts/OpenSans-Italic.ttf");
}
@font-face {
  font-family: FontAwesome;
  src: url("../fonts/fontawesome-webfont.eot?v=4.7.0");
  src: url("../fonts/fontawesome-webfont.eot?#iefix&v=4.7.0") format('embedded-opentype'), url("../fonts/fontawesome-webfont.woff2?v=4.7.0") format('woff2'), url("../fonts/fontawesome-webfont.woff?v=4.7.0") format('woff'), url("../fonts/fontawesome-webfont.ttf?v=4.7.0") format('truetype'), url("../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular") format('svg');
  font-weight: normal;
  font-style: normal;
}
body {
  margin: 0px;
  padding: 0px;
}
.brand-label {
  position: absolute;
  -webkit-transform: rotate(270deg);
      -ms-transform: rotate(270deg);
          transform: rotate(270deg);
  font: 12px OpenSansSemibold;
  left: 33px;
  overflow: hidden;
}
@media screen and (max-width: 1500px) {
  .brand-label {
    display: none;
  }
}
.link-with-arrow {
  display: inline-block;
  color: #fff;
  font: 14px OpenSansBold;
}
.link-with-arrow:hover {
  cursor: pointer;
}
.layout-header {
  height: 950px;
  background: url("/img/man.jpg") no-repeat center;
}
.layout-header .brand-label {
  top: 505px;
  color: #fff;
}
.layout-header .brand-label_perfect {
  left: 50px;
  top: 585px;
  color: #fff;
  font: 12px OpenSansLight;
}
.layout-header .content {
  display: relative;
  margin: 0px;
  margin-right: auto;
  margin-left: auto;
  max-width: 1300px;
  padding-left: 50px;
  padding-right: 50px;
}
.layout-header .content .app_label {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 55px;
}
.layout-header .content .app_label .app_logo_container {
  height: 40px;
  width: 40px;
}
.layout-header .content .app_label .app_logo_container .app_logo {
  max-width: 100%;
  max-height: 100%;
}
.layout-header .content .app_label .app_name {
  font: 22px OpenSansItalic;
  color: #fff;
  padding-left: 10px;
}
.layout-header .content .title {
  font: 60px OpenSansLight;
  color: #fff;
  padding-top: 395px;
}
.layout-header .content .text {
  max-width: 450px;
  font: 13px OpenSansRegular;
  color: #fff;
  margin-top: 20px;
  line-height: 1.5;
}
.layout-main {
  background-color: #fff;
}
.layout-main .brand-label {
  display: none;
  bottom: 100px;
  color: #b8b8b8;
}
.layout-main .content {
  display: block;
  margin-right: auto;
  margin-left: auto;
  max-width: 1300px;
  padding-left: 50px;
  padding-right: 50px;
  margin-top: 120px;
  margin-bottom: 160px;
}
.layout-main .content .start-something-new {
  display: block;
}
.layout-main .content .start-something-new .title {
  display: inline-block;
  color: #222626;
  font: 35px OpenSansLight;
}
.layout-main .content .start-something-new .items {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-align-content: space-between;
      -ms-flex-line-pack: justify;
          align-content: space-between;
  margin-top: 10px;
}
.layout-main .content .start-something-new .items .item {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 45%;
      -ms-flex: 1 1 45%;
          flex: 1 1 45%;
  max-width: 600px;
  min-width: 300px;
  color: #959595;
  font: 14px OpenSansRegular;
  padding-right: 25px;
  margin-top: 25px;
}
.layout-main .content .start-something-new .items .item_right {
  margin-top: 100px;
}
@media screen and (max-width: 749px) {
  .layout-main .content .start-something-new .items .item_right {
    margin-top: 25px;
  }
}
.layout-main .content .grid {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 80px;
  padding-left: 50px;
  padding-right: 50px;
}
.layout-main .content .grid .grid-card {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 33.33%;
      -ms-flex: 0 0 33.33%;
          flex: 0 0 33.33%;
  display: block;
  position: relative;
  padding-top: 50px;
  padding-bottom: 40px;
  min-height: 200px;
}
.layout-main .content .grid .grid-card_doubled {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 66.66%;
      -ms-flex: 0 0 66.66%;
          flex: 0 0 66.66%;
}
.layout-main .content .grid .grid-card_pink {
  background: #f3989e;
}
.layout-main .content .grid .grid-card_purple {
  background: #61607c;
}
.layout-main .content .grid .grid-card_pic1 {
  background-size: cover;
  background: url("/img/pic1.jpg") no-repeat center center;
}
.layout-main .content .grid .grid-card_pic2 {
  background-size: cover;
  background: url("/img/pic2.jpg") no-repeat center center;
}
.layout-main .content .grid .grid-card_green {
  background: #84c99d;
}
.layout-main .content .grid .grid-card .grid-card__title {
  color: #fff;
  font: 30px OpenSansLight;
  padding-left: 40px;
  padding-right: 40px;
}
.layout-main .content .grid .grid-card .grid-card__text {
  margin-top: 25px;
  color: #fff;
  font: 13px OpenSansRegular;
  padding-left: 40px;
  padding-right: 40px;
  margin-bottom: 50px;
}
.layout-main .content .grid .grid-card .grid-card__link {
  position: absolute;
  bottom: 55px;
  padding-left: 40px;
  padding-right: 40px;
}
.layout-main .content .grid .grid-card .grid_card__like-icon {
  font-size: 4em;
  content: "\f000";
  padding-left: 40px;
  padding-right: 40px;
}
.layout-main .content .details {
  margin-top: 100px;
}
.layout-main .content .details .title {
  display: inline-block;
  font: 35px OpenSansLight;
  color: #222626;
}
.layout-main .content .details .details-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: flex-stary;
  -webkit-align-items: flex-stary;
      -ms-flex-align: flex-stary;
          align-items: flex-stary;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-align-content: space-between;
      -ms-flex-line-pack: justify;
          align-content: space-between;
  margin-top: 20px;
}
.layout-main .content .details .details-list .details-item {
  display: block;
  max-width: 300px;
  min-width: 150px;
  margin-top: 40px;
}
.layout-main .content .details .details-list .details-item__title {
  font: 13px OpenSansSemibold;
  color: #67676d;
}
.layout-main .content .details .details-list .details-item__text {
  font: 14px OpenSansRegular;
  color: #959595;
  padding-right: 25px;
  margin-top: 25px;
}
.layout_more_power {
  height: 875px;
  background: url("/img/car.jpg") no-repeat center, #fff;
}
.layout_more_power .gradient {
  position: absolute;
  height: 100%;
  width: 700px;
  background: -webkit-gradient(linear, left top, right top, from(rgba(0,0,0,0.5)), color-stop(rgba(0,0,0,0.3)), to(rgba(0,0,0,0)));
  background: -webkit-linear-gradient(left, rgba(0,0,0,0.5), rgba(0,0,0,0.3), rgba(0,0,0,0));
  background: linear-gradient(to right, rgba(0,0,0,0.5), rgba(0,0,0,0.3), rgba(0,0,0,0));
}
.layout_more_power .content {
  display: block;
  margin: 0px;
  margin-right: auto;
  margin-left: auto;
  max-width: 1300px;
  padding-left: 50px;
  padding-right: 50px;
}
.layout_more_power .content .info {
  overflow: visible;
  position: relative;
  top: 455px;
  color: #fff;
  max-width: 500px;
}
.layout_more_power .content .info .title {
  font: 60px OpenSansLight;
  line-height: 1.2;
}
.layout_more_power .content .info .text {
  font: 13px OpenSansRegular;
  margin-top: 30px;
  margin-right: 50px;
  line-height: 1.7;
}
.layout_more_power .content .info .options {
  display: inline-block;
  margin-top: 25px;
  font: 14px OpenSansBold;
}
.layout_more_power .content .info .options:hover {
  cursor: pointer;
}
.layout_reasons {
  position: relative;
  background-color: #82ca9c;
  color: #fff;
  padding-top: 120px;
  padding-bottom: 160px;
}
.layout_reasons .brand-label {
  top: 165px;
  color: #fff;
}
.layout_reasons .content {
  display: block;
  margin-right: auto;
  margin-left: auto;
  max-width: 1300px;
  padding-left: 50px;
  padding-right: 50px;
}
.layout_reasons .content .title {
  display: block;
  font: 35px OpenSansLight;
}
.layout_reasons .content .list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 50px;
}
.layout_reasons .content .list .item {
  -webkit-flex-basis: auto;
      -ms-flex-preferred-size: auto;
          flex-basis: auto;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-flex-basis: 360px;
      -ms-flex-preferred-size: 360px;
          flex-basis: 360px;
  max-width: 360px;
  margin-bottom: 30px;
}
.layout_reasons .content .list .item .header {
  font: 13px OpenSansSemibold;
}
.layout_reasons .content .list .item .text {
  margin-top: 25px;
  font: 14px OpenSans;
}
.card-plan {
  display: inline-block;
  max-width: 500px;
  padding-top: 50px;
  padding-bottom: 55px;
  padding-left: 50px;
  padding-right: 50px;
}
.card-plan:hover {
  background: #fff;
  -webkit-box-shadow: 0 0 62px rgba(0,0,0,0.05);
          box-shadow: 0 0 62px rgba(0,0,0,0.05);
}
.card-plan .card-plan__label {
  display: inline-block;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  color: #fff;
  font: 11px OpenSansExtraBold;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 16px;
  padding-right: 16px;
}
.card-plan .card-plan__label_legacy {
  background-color: #e1e1e1;
}
.card-plan .card-plan__label_most-popular {
  background-color: #bb8cbd;
}
.card-plan .card-plan__name {
  font: 30px OpenSansLight;
  color: #2e3b4e;
  margin-top: 10px;
}
.card-plan .card-plan__description {
  font: 14px OpenSansRegular;
  color: #8297a7;
  margin-top: 25px;
  padding-right: 50px;
}
@media screen and (max-width: 1299px) {
  .card-plan .card-plan__description {
    padding-right: 0px;
  }
}
.card-plan .card-plan__buy-now {
  display: inline-block;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  background-color: #82ca9c;
  font: 13px OpenSansBold;
  color: #fff;
  margin-top: 30px;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 26px;
  padding-right: 26px;
  text-transform: uppercase;
}
.card-plan .card-plan__buy-now:hover {
  cursor: pointer;
}
.card-plan .card-plan__icons {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  margin-top: 18px;
}
.card-plan .card-plan__icons .card-plan__icon {
  width: 25px;
  height: 25px;
}
.card-plan .card-plan__icons .card-plan__icon_apple {
  margin-right: 12px;
  background: url("/img/icon_apple.png") no-repeat center;
}
.card-plan .card-plan__icons .card-plan__icon_windows {
  background: url("/img/icon_windows.png") no-repeat center;
}
.layout-plan {
  position: relative;
  background-color: #f6f7fa;
  padding-top: 100px;
  padding-bottom: 140px;
}
.layout-plan .brand-label {
  color: #b8b8b8;
  top: 145px;
}
.layout-plan .content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-content: flex-start;
      -ms-flex-line-pack: start;
          align-content: flex-start;
  margin-right: auto;
  margin-left: auto;
  max-width: 1300px;
  padding-left: 50px;
  padding-right: 50px;
}
.subscription-input-form {
  position: relative;
  width: 300px;
}
.subscription-input-form .subscription-input-form__email {
  display: inline-block;
  width: 260px;
  height: 40px;
  background-color: #fff;
  outline: none;
  border: none;
  color: rgba(0,0,0,0.8);
  padding-left: 4px;
  padding-right: 4px;
  padding: 10px;
  font: 14px OpenSansRegular;
}
.subscription-input-form .subscription-input-form__button-done {
  display: block;
  position: absolute;
  right: 0px;
  top: 0px;
  background: url("/img/icon_button_done.png") no-repeat center, #82ca9c;
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.layout-footer {
  padding-top: 128px;
  padding-bottom: 150px;
  background-color: #192431;
}
@media screen and (max-width: 699px) {
  .layout-footer {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
.layout-footer .row-1 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-left: 50px;
  padding-right: 50px;
  max-width: 1300px;
  margin-right: auto;
  margin-left: auto;
}
.layout-footer .row-1 .get-in-touch {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-flex-basis: 0;
      -ms-flex-preferred-size: 0;
          flex-basis: 0;
  padding-right: 50px;
  min-width: 250px;
  max-width: 550px;
}
.layout-footer .row-1 .get-in-touch .get-in-touch__title {
  font: 13px OpenSansSemibold;
  color: #f6f7fa;
}
.layout-footer .row-1 .get-in-touch .get-in-touch__description {
  font: 13px OpenSansRegular;
  color: #f6f7fa;
  margin-top: 30px;
}
.layout-footer .row-1 .subscribtion {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-flex-basis: 0;
      -ms-flex-preferred-size: 0;
          flex-basis: 0;
}
@media screen and (max-width: 699px) {
  .layout-footer .row-1 .subscribtion {
    margin-top: 40px;
  }
}
.layout-footer .row-1 .subscribtion .subscribtion__title {
  font: 13px OpenSansSemibold;
  color: #f6f7fa;
}
.layout-footer .row-1 .subscribtion .subscription-input-form {
  margin-top: 30px;
}
.layout-footer .row-1 .subscribtion .subscribtion__no-spam {
  display: inline-block;
  color: #57697f;
  width: 270px;
  font: 12px OpenSansRegular;
  margin-top: 6px;
}
.layout-footer .links {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-left: 50px;
  padding-right: 50px;
  max-width: 1300px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 40px;
}
.layout-footer .links .links-column {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-right: 80px;
}
@media screen and (max-width: 650px) {
  .layout-footer .links .links-column {
    padding-right: 20px;
    margin-right: 0px;
  }
}
.layout-footer .links .links-column .links-column__title {
  display: inline-block;
  font: 13px OpenSansSemibold;
  color: #f6f7fa;
  margin-bottom: 25px;
  cursor: pointer;
}
.layout-footer .links .links-column .links-column__item {
  display: inline-block;
  font: 13px OpenSansRegular;
  color: #f6f7fa;
  padding-bottom: 2px;
  cursor: pointer;
}
.layout-footer .links .links-column .links-column__item:last-of-type {
  padding-bottom: 2px;
}
